html {
  scroll-behavior: smooth;
}

.wine-header {
  color: $gold;
  border-bottom: 3px solid $gold;
  padding-bottom: 2px;
  margin-bottom: 32px;
  max-width: 160px;
}

.wine-summary {
  border-bottom: 1px solid $gold;
  margin-bottom: 24px;
  p {
    margin-bottom: 16px !important;
  }
}

.wine-links {
  margin-bottom: 16px;
  a {
    text-decoration: none;
  }
}

#type-search {
  margin-left: 8px;
}
