<div class="header index-header d-flex flex-column">
  <h3>Welcome to our Wine List</h3>
  <p>Browse, search and find the wine you're looking for</p>
  <%= link_to wines_path do %>
    <div class="btn btn-outline-primary">
      Browse all Wines
    </div>
  <% end %>
</div>
