.main-form {
  width: 640px;
  border-radius: 4px;
  background-color: $light-gray;
  padding: 32px 48px;
  position: relative;
  box-shadow: 0 0 16px rgba(0,0,0,0.25);
  margin: 80px 0;
}

.form-holder {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.plus-btn  {
  margin-top: 16px;
  margin-left: 8px;
}

.plus-btn:hover {
  color: white
}

.array-inputs{
  .form-group {
    flex-grow: 2;
  }
}

.form-submit {
  margin-bottom: 24px;
  padding: 0;
  border-radius: 4px;
  .btn {
  color: $gold;
  min-width: 100%;
  min-height: 100%;
  padding: 12px 24px;
}
}

.form-submit :hover {
  color: white !important;
  .btn {
  color: white !important
}
}

.multi-input-wrap {
  .text {
    margin-bottom: 8px;
  }
}

.half-container {
  width: 100%;
}

.wine_name, .wine_wine_type, .wine_vineyard, .wine_serving_temperature, .wine_price, .wine_guard, .wine_weight, .wine_region {
  width: 48%;
}

.search-form {
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  top: 340px;
  border-radius: 50px;
  display: none;
}

#basic-form, #select-wine-two, #type-search {
  display: inline-block;
  float: left;
  max-width: 75%;
}


.col-auto {
  padding: 0 6px;
}

#show-search {
  margin-left: 8px;
}

#advanced-search {
  margin-left: 0 !important;
  margin-top: 24px;
}

@media (max-width: 568px) {
 #keyword-container {
  width: 85%;
 }

 #advanced-search {
  margin-top: 32px;
}
}

@media (max-width: 768px) {
  .main-form {
    width: 85%;
  }
  .search-form {
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px;
  }
}


