.header {
  min-height: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
  color: $gold;
  margin-bottom: 24px;
  h3 {
    font-size: 2.5em;
  }
}

.new-form-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('wine-header.jpg');
}

.index-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('Le-Comptoir.jpg');
}

.view-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('vineyard.jpg');
}

@media (max-width: 576px) {
  .header {
    h3 {
    font-size: 2em;
  }
  }
}
