.main-form {
  width: 640px;
  border-radius: 4px;
  background-color: $light-gray;
  padding: 32px 48px;
  position: relative;
  box-shadow: 0 0 16px rgba(0,0,0,0.25);
  margin: 80px 0;
}

.form-holder {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.plus-btn  {
  margin-top: 16px;
  margin-left: 8px;
}

.plus-btn:hover {
  color: white
}

.array-inputs{
  .form-group {
    flex-grow: 2;
  }
}

.form-submit {
  margin-bottom: 24px;
  padding: 0;
  border-radius: 4px;
  .btn {
  color: $gold;
  min-width: 100%;
  min-height: 100%;
  padding: 12px 24px;
}
}

.form-submit :hover {
  color: white !important;
  .btn {
  color: white !important
}
}

@media (max-width: 768px) {
  .main-form {
    width: 85%;
  }
}


