.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
}

.navbar-nav {
  flex-direction: row !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent {

  li {
    padding: 0 4px;
    display:inline;
  }
}

.reset-search {
  display: none;
}


